.config
*.o
*.pyc

# gtags
GTAGS
GRTAGS
GPATH

# python build dir
python/dist
python/build
python/RFIDler.egg-info/

# emacs
.dir-locals.el

# default build directory name
build

# emacs temp file suffixes
*~
.#*
\#*#

# eclipse setting
.settings

# MacOS directory files
.DS_Store

# cache dir
.cache/

# VIM files
*.swp
*.swo

# Junk Save file
*-sav
*.*-

# data save files
python/*.xml
